<!-- footer 선언  -->
<!-- 프레그먼트 : 레이아웃에 공통적으로 사용할 UI -->
<!-- th:fragment="프레그먼트명" -->
<th:block th:fragment="footer">
	<footer class="container-fluid footer text-dark w-100">
	    <div class="container">
	      <div class="row g-4 align-items-center">
	        <div class="col-md-6 text-center text-md-start mb-md-0">
	          <span><i class="fas fa-copyright me-2"></i>MoimOn, All rights reserved.</span>
	        </div>
	        <div class="col-md-6 text-center text-md-end">Designed By HanJunHee</div>
	      </div>
	      <!-- 중앙에 새로운 행 추가 -->
	      <div class="row">
	        <div class="col-12 mt-2">
	          <small class="text-muted">위 홈페이지는 세종글꽃체, 여기어때의 잘난체를 사용하여 작성되었습니다.</small>
	        </div>
	      </div>
	    </div>
	</footer>


</th:block>